#park {
  display: inline-block;
}

#lighter_block {
  display: inline-block;
  position: absolute;
}

.cell {
  display: inline-block;
  min-height: 35px;
  min-width: 35px;
  background-color: #00a900;
  color: #00a900;
}

.row {
  display: block;
  height: 35px;
}

.cell_footpath {
  background-color: grey;
  color: grey;
}

.cell_road {
  background-color: black;
  color: black;
}

.cell_robot {
  background-color: red;
  color: red;
  position: relative;
}

.cell_zebra {
  background-color: white;
  color: white;
}


.circle {
  width:15px;
  margin:15px;
  padding:10px;
  border:solid 1px #0a325f;
  font-size:20px;
  border-radius: 50px;
}
.green {
  background-color:#00ff00;
  box-shadow: 0 0 25px #32cd32;
}
.yellow {
  background-color:#ffff00;
  box-shadow: 0 0 25px #ffd700;
}
.red {
  background-color:#ff0000;
  box-shadow: 0 0 25px #ff1493;
}
.grey {
  background-color: #535353;
  //box-shadow: 0 0 25px #ff1493;
}