#park {
  display: inline-block;
}

#lighter_block {
  display: inline-block;
  position: absolute;
}

.cell {
  display: inline-block;
  min-height: 35px;
  min-width: 35px;
}

.row {
  display: block;
  height: 35px;
}

.cell_robot {
  /*background-color: red;*/
  background: url('robot.png') no-repeat;
  background-size: 35px;
  width: 25px;
  height: 25px;
  position: relative;
}

.cell_car {
  background-color: #f00;
}

.cell_grass {
  background-color: #00a900;
}

.cell_footpath {
  background-color: grey;
}

.cell_road {
  background-color: #2b2b2b;
}

.cell_zebra {
  background-color: white;
}

table {
  border-collapse: collapse;
}
td {
  width: 33px;
  height: 4px;
  border-bottom: 2px solid black;
}

.lighter {
  z-index: 5;
}

.timer {
  color: yellow;
  font-size: 100%;
  font-weight: bold;
  background-color: transparent !important;
}

.circle {
  width:5px;
  margin:5px;
  padding:5px;
  border:solid 1px #0a325f;
  font-size:5px;
  border-radius: 10px;
}
.green {
  background-color:#00ff00;
  box-shadow: 0 0 25px #32cd32;
}
.yellow {
  background-color:#ffff00;
  box-shadow: 0 0 25px #ffd700;
}
.red {
  background-color:#ff0000;
  box-shadow: 0 0 25px #ff1493;
}
.grey {
  background-color: #535353;
  //box-shadow: 0 0 25px #ff1493;
}